<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header pull-left navbar-brand">
            Profile
        </div>
    </div>
</nav>

<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" readonly value="alice"
                   ng-model="model.user.username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="alice@wonderland.com"
                   ng-model="model.user.email">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" class="form-control" id="first-name" placeholder="Alice"
                   ng-model="model.user.firstName">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" class="form-control" id="last-name" placeholder="Wonderland"
                   ng-model="model.user.lastName">
        </div>
        <div class="form-group">
            <label for="birthDate">Date of Birth</label>
            <input type="date" class="form-control" id="birthDate" placeholder="MM/DD/YY"
                   ng-model="model.user.birthDate">
        </div>
    </form>

    <a class="btn btn-success  btn-block"
       href="" ng-click="model.updateUser()">Update</a>
    <a class="btn btn-primary btn-block"
       href="#!/user/{{model.userId}}/website">Websites</a>
    <a class="btn btn-danger btn-block "
       href="#!/login">Logout</a>

    <div class="alert alert-success padded-column-content fade" ng-show="model.hasAlert">{{model.alert}}</div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header pull-right navbar-brand">
            <a href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>