<body>
    <div class="container">
        <h1>Register</h1>
        <form ng-submit="model.register(model.user)">
            <input type="text"
                   class="form-control"
                   placeholder="username"
                   ng-model="model.user.username"/>
            <input type="password"
                   class="form-control"
                   placeholder="password"
                   ng-model="model.user.password"/>
            <input type="password"
                   class="form-control"
                   placeholder="verify password"
                   ng-model="model.user.passwordVerify"/>
            <button class="btn btn-primary btn-block"
               href="" type="submit">Register</button>
            <a class="btn btn-danger  btn-block"
               href="#!/login">Cancel</a>
        </form>
    </div>
</body>
</html>