<nav class="navbar navbar-default navbar-fixed-top justify-content-between container-fluid" role="navigation">
    <div class="navbar-header navbar-brand float-left">
        <a class="float-left" href="#!/">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
    </div>
    <div class="navbar-header navbar-brand">
        Recipes
    </div>

    <form class="form-inline navbar-brand col-md-6 col-sm-5 hidden-xs"
          ng-submit="model.searchForRecipe(model.searchInput)">
        <input class="form-control nav-input" ng-model="model.searchInput" type="text"
               placeholder="Search recipes to plan meals"
               aria-label="Search">
    </form>

    <div class="pull-right" ng-hide="model.loggedIn">
        <a href="#!/login" class="btn btn-primary btn-md nav-btn waves-effect wow">
            Sign Up/Log In
        </a>
    </div>
    <div class="pull-right" ng-show="model.loggedIn">
        <a href="#!/profile" ng-show="model.loggedIn" class="btn btn-primary btn-md nav-btn waves-effect wow">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>

    <form class="navbar-brand float-left hidden-md hidden-lg hidden-xl hidden-sm"
          ng-submit="model.searchForRecipes(model.searchInput)">
        <input class="form-control nav-input" ng-model="model.searchInput" type="text"
               placeholder="Search recipes to plan meals"
               aria-label="Search">
    </form>
</nav>


<div class="page-content container-fluid">
    <div class="col-md-3 col-sm-3">

    </div>
    <div class="col-md-6 col-sm-6">
        <div class="card recipe-card self-centering" ng-repeat="recipe in model.recipes">
            <img class="img-fluid" ng-src="https://webknox.com/recipeImages/{{recipe.id}}-556x370.jpg"/>
            <div class="card-body">
                <h5>{{recipe.title}}</h5>
            </div>
        </div>
        <div class="flex-center hint" ng-hide="model.recipes.length > 0">
            Search for a recipe to have results displayed here
        </div>
    </div>
    <div class="col-md-3 col-sm-3">

    </div>
</div>
