input.form-control {
    margin-bottom: 5px;
}

body {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
}

.side-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.right-padding {
    padding-right: 15px;
}

.editWidgetDiv {
    position: absolute;
    opacity: .8;
    border: 0px solid transparent;
    right: 0;
    z-index: 2;
}