<nav class="navbar navbar-default navbar-fixed-top justify-content-between container-fluid" role="navigation">
    <div class="navbar-header navbar-brand float-left">
        <a class="float-left" href="" ng-click="model.back()">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
    </div>
    <div class="navbar-header navbar-brand">
        Admin
    </div>


    <div class="pull-right" ng-hide="model.loggedIn">
        <a href="#!/login" class="btn btn-primary btn-md nav-btn waves-effect wow">
            Sign Up/Log In
        </a>
    </div>
    <div class="pull-right" ng-show="model.loggedIn">
        <a href="#!/profile" ng-show="model.loggedIn" class="btn btn-primary btn-md nav-btn waves-effect wow">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>


<div class="page-content container-fluid">
    <div class="col-md-3 col-sm-3">

    </div>
    <div class="col-md-6 col-sm-6">
        <h4>Select the type of data you would like to CRUD</h4>

        <a href="" ng-click="model.dataType = 'users'"><span>Users</span></a>
        <a href="" ng-click="model.dataType = 'meals'"><span>Meals</span></a>
        <a href="" ng-click="model.dataType = 'recipes'"><span>Recipes</span></a>
        <a href="" ng-click="model.dataType = 'ingredients'"><span>Ingredients</span></a>
        <a href="" ng-click="model.dataType = 'comments'"><span>Comments</span></a>

        <hr>
        <h4>Select the type of operation you would like to perform</h4>
        <a href="" ng-click="model.op = 'create'"><span>Create</span></a>
        <a href="" ng-click="model.op = 'read'"><span>Read</span></a>
        <a href="" ng-click="model.op = 'update'"><span>Update</span></a>
        <a href="" ng-click="model.op = 'delete'"><span>Delete</span></a>

        <div ng-show="model.op == 'create'">
            <label for="create">
                Enter the json of the data you would like to add to {{model.dataType}}
            </label>
            <textarea id="create" class="form-control" rows="3" ng-model="model.createContent"></textarea>
            <button class="btn btn-block btn-danger" ng-click="model.create(model.createContent)"></button>
        </div>
        <div ng-show="model.op == 'read'">
            <button class="btn btn-block btn-primary" ng-click="model.read()">Show all</button>
            <p>{{model.getReadContent()}}</p>
        </div>
        <div ng-show="model.op == 'update'">
            <label for="update">
                Enter the json of the data you would like to update to and make sure to include an _id field
            </label>
            <textarea id="update" rows="3" class="form-control" ng-model="model.updateContent"></textarea>
            <button class="btn btn-block btn-danger" ng-click="model.update(model.updateContent)">Delete</button>
        </div>
        <div ng-show="model.op == 'delete'">
            <label for="delete">Enter the ID of the item you want to delete</label>
            <input id="delete" class="form-control" ng-model="model.itemToDelete"/>
            <button class="btn btn-block btn-danger" ng-click="model.remove(model.itemToDelete)">Delete</button>
        </div>

    </div>
    <div class="col-md-3 col-sm-3">

    </div>
</div>
