<nav class="navbar navbar-default navbar-fixed-top justify-content-between" role="navigation">
    <div class="navbar-header navbar-brand float-left">
        <a class="float-left" href="#!/">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
    </div>
    <div class="navbar-header navbar-brand">
        <span>Log in to Meal Planner</span>
    </div>
</nav>

<div class="container-fluid">
    <div class="alert alert-danger padded-column-content fade" ng-show="model.hasAlert">{{model.alert}}</div>
    <form ng-submit="model.login(model.user.username, model.user.password)">
        <input type="text"
               class="form-control"
               placeholder="username"
               ng-model="model.user.username"/>
        <input type="password"
               class="form-control"
               placeholder="password"
               ng-model="model.user.password"/>
        <button class="btn btn-info btn-block waves-effect"
                type="submit">Login
        </button>
        <a class="btn btn-success btn-block waves-effect"
           href="#!/register">Register</a>
        <div class="row">
            <div class="col-md-6 margin-top">
                <a class="btn btn-block btn-blue-grey waves-effect" href="" ng-click="model.googleSignin()">Sign in with
                    Google
                </a>
            </div>
            <div class="col-md-6 margin-top">
                <a class="btn btn-block btn-primary waves-effect" href="" ng-click="model.facebookSignin()">Sign in with
                    Facebook
                </a>
            </div>
        </div>
    </form>
</div>
