<nav class="navbar navbar-default navbar-fixed-top justify-content-between container-fluid" role="navigation">
    <div class="navbar-header navbar-brand float-left">
        <a class="float-left" href="" ng-click="model.back()">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
    </div>
    <div class="navbar-header navbar-brand">
        Plan Meal
    </div>

    <form class="form-inline navbar-brand col-md-6 col-sm-5 hidden-xs"
          ng-submit="model.searchForRecipe(model.searchInput)">
        <input class="form-control nav-input" ng-model="model.searchInput" type="text"
               placeholder="Search recipes to plan meals"
               aria-label="Search">
    </form>
    <div class="pull-right">
        <a href="#!/profile" class="btn btn-primary btn-md nav-btn waves-effect wow">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>

<form class="flex-center hidden-md hidden-lg hidden-xl hidden-sm"
      ng-submit="model.searchForRecipes(model.searchInput)">
    <input class="form-control nav-input" ng-model="model.searchInput" type="text"
           placeholder="Search recipes to plan meals"
           aria-label="Search">
</form>


<div class="page-content container-fluid">
    <div class="col-md-1 col-sm-1">

    </div>
    <div class="col-md-10 col-sm-10">
        <div class="card self-centering container-fluid">
            <div class="col-md-6 col-sm-6">
                <div class="card-body">
                    <form ng-submit="model.save()">
                        <h4>Planning Details</h4>

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input id="name" class="form-control" type="text" ng-model="model.name" required/>
                        </div>

                        <div class="form-group">
                            <label for="description">Description/Notes</label>
                            <input id="description" class="form-control" type="text" ng-model="model.description"/>
                        </div>

                        <div class="form-group">
                            <label for="place">Place</label>
                            <input id="place" class="form-control" type="text" ng-model="model.place"/>
                        </div>

                        <div class="form-group">
                            <label for="date">Date</label>
                            <input id="date" class="form-control" type="date" ng-model="model.date" required/>
                        </div>

                        <label for="invited">Invite contacts</label>
                        <ui-select type="text" id="invited" class="form-control" multiple
                                   ng-model="model.selectedContacts" theme="bootstrap" id="invited"
                                   close-on-select="false" title="Invite Contacts">
                            <ui-select-match placeholder="Enter contacts here">{{$item}}</ui-select-match>
                            <ui-select-choices repeat="contact in model.contacts | filter:$select.search">
                                {{contact}}
                            </ui-select-choices>
                        </ui-select>

                        <div class="form-group">
                            <label for="viewByLink">Viewable by Link <span> &nbsp;</span>
                                <input id="viewByLink"  type="checkbox"
                                       ng-model="model.viewByLink"/>
                            </label>
                        </div>

                        <button type="submit" class="btn btn-block btn-primary waves-effect">Save</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 no-padding">
                <div class="card-body">
                    <h4>{{model.recipe.title}} <span class="hint">{{model.recipe.readyInMinutes}} Minutes</span></h4>
                    <hr>
                    <ul>
                        <li ng-repeat="ingredient in model.recipe.extendedIngredients">
                            {{ingredient.originalString}}
                        </li>
                    </ul>
                    <hr>
                    <div ng-bind-html="model.sanitize(model.recipe.instructions)"></div>
                    <hr>
                    <a href="{{model.recipe.sourceUrl}}"><span>{{model.recipe.sourceName}}</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1 col-sm-1">

    </div>
</div>
