<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="navbar-header navbar-brand pull-left">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="pull-left">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </div>
                <div class="navbar-header navbar-brand pull-left">
                    Widget Edit
                </div>
                <div class="navbar-header navbar-brand pull-right">
                    <a href="" ng-click="model.updateWidget(model.widget)">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid row">

    <div class="col-md-12 col-sm-12">
        <div ng-switch="model.widget.widgetType">
            <div ng-switch-when="HEADING">
                <ng-include src="'views/widget/editors/widget-heading-edit.view.client.html'">
            </div>
            <div ng-switch-when="IMAGE">
                <ng-include src="'views/widget/editors/widget-image-edit.view.client.html'">
            </div>
            <div ng-switch-when="YOUTUBE">
                <ng-include src="'views/widget/editors/widget-youtube-edit.view.client.html'">
            </div>
            <div ng-switch-when="HTML">
                <ng-include src="'views/widget/editors/widget-html-edit.view.client.html'">
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header pull-right navbar-brand">
            <a href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
