<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="navbar-header navbar-brand pull-left">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                       class="pull-left">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </div>
                <div class="navbar-header navbar-brand pull-left">
                    Choose Widget
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid row">

    <div class="col-md-12 col-sm-12">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="type in model.widgetTypes">
                <a ng-click="model.createWidget(type)">{{model.toRegularString(type)}}</a>
            </li>
        </ul>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header pull-right navbar-brand">
            <a href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
