<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="navbar-header navbar-brand pull-left">
                    <a href="#!/user/{{model.userId}}" class="pull-left">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </div>
                <div class="navbar-header navbar-brand pull-left">
                    Websites
                </div>
                <div class="navbar-header navbar-brand pull-right">
                    <a href="#!/user/{{model.userId}}/website/new">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="website in model.websites" class="list-group-item row">
            <a href="#!/user/{{model.userId}}/website/{{website._id}}/page">{{website.name}}</a>
            <a href="#!/user/{{model.userId}}/website/{{website._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </li>
    </ul>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header pull-right navbar-brand">
            <a href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>