<nav class="navbar navbar-default navbar-fixed-top justify-content-between container-fluid" role="navigation">
    <div class="navbar-header navbar-brand">
        Meal Planner
    </div>

    <form class="form-inline navbar-brand col-md-6 col-sm-5 hidden-xs"
          ng-submit="model.searchForRecipes(model.searchInput)">
        <input class="form-control nav-input" ng-model="model.searchInput" type="text"
               placeholder="Search recipes to plan meals"
               aria-label="Search">
    </form>

    <div class="pull-right" ng-hide="model.loggedIn">
        <a href="#!/login" class="btn btn-primary btn-md nav-btn waves-effect wow">
            Sign Up/Log In
        </a>
    </div>
    <div class="pull-right" ng-show="model.loggedIn">
        <a href="#!/profile" ng-show="model.loggedIn" class="btn btn-primary btn-md nav-btn waves-effect wow">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>

<form class="flex-center hidden-md hidden-lg hidden-xl hidden-sm"
      ng-submit="model.searchForRecipes(model.searchInput)">
    <input class="form-control nav-input" ng-model="model.searchInput" type="text"
           placeholder="Search recipes to plan meals"
           aria-label="Search">
</form>

<div ng-show="model.loggedIn" class="page-content container-fluid">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <h3 class="flex-center">Upcoming Meals</h3>
        <div class="card recipe-card self-centering" ng-repeat="meal in model.meals">
            <div class="view overlay hm-white-slight">
                <img ng-src="https://webknox.com/recipeImages/{{meal.recipe}}-556x370.jpg" class="img-fluid" alt="">
                <a href="#!/mealUpdate/{{meal._id}}">
                    <div class="mask waves-effect"></div>
                </a>
            </div>
            <a href="" class="btn btn-danger waves-effect wow pull-right" ng-click="model.deleteMeal(meal)">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
            <div class="card-body">
                <h4>{{meal.name}}</h4>
                <span class="hint">{{meal.date | date : 'fullDate'}} | location: {{meal.place}}</span>
                <p>{{meal.description}}</p>
                <p><a href="#!/recipeDetail/{{meal.recipe}}">Recipe</a></p>
            </div>
        </div>
        <div class="flex-center hint" ng-hide="model.meals.length > 0">
            Plan some meals to have them show up here!
        </div>
    </div>
    <div class="col-md-3">

    </div>
</div>

<div ng-hide="model.loggedIn" class="page-content container-fluid">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <h3>Upcoming Meals</h3>
        <div class="card">
            <img class="img-fluid" ng-src="https://static.pexels.com/photos/70497/pexels-photo-70497.jpeg"
                 alt="Card image cap">
            <div class="card-body">
                <h4>You can create cards for meals!</h4>

                <p class="card-text">
                    Here would go a description of the meal you've planned along with the friends who you've invited!
                </p>

            </div>
        </div>
    </div>
    <div class="col-md-3">

    </div>
</div>
