
<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" value="Existing Name">
    </div>
    <div class="form-group">
        <label for="text">Text</label>
        <input type="text" class="form-control" id="text" placeholder="Description" value="Existing Text">
    </div>
    <div class="form-group">
        <label for="url">URL</label>
        <input type="url" class="form-control" id="url" placeholder="Url" value="https://youtu.be/Qnf_1laqE9I">
    </div>
    <div class="form-group">
        <label for="width">Width</label>
        <input type="number" class="form-control" id="width" placeholder="width">
    </div>
    <a href="" class="btn btn-danger btn-block">Delete</a>
</form>

