<form ng-submit="model.deleteWidget(model.widget)">
    <div class="form-group">
        <label for="url">URL</label>
        <input type="url" class="form-control" id="url" placeholder="URL" ng-model="model.widget.url">
    </div>
    <div class="form-group">
        <label for="width">Width</label>
        <input class="form-control" id="width" placeholder="Width" ng-model="model.widget.width">
    </div>
    <div class="form-group">
        <label for="upload">Upload</label>
        <input type="file" class="form-control" id="upload" placeholder="Upload a file">
    </div>
    <a href="" class="btn btn-primary btn-block">Upload Image</a>
    <button type="submit" class="btn btn-danger btn-block">Delete</button>
</form>
