<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="navbar-header navbar-brand pull-left">
                    <a href="#!/user/{{model.userId}}/website" class="pull-left">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </div>
                <div class="navbar-header navbar-brand pull-left">
                    Pages
                </div>
                <div class="navbar-header navbar-brand pull-right">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="page in model.pages" class="list-group-item row">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">{{page.name}}</a>
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </li>
    </ul>

    <div class="center-content" ng-hide="model.pages">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header pull-right navbar-brand">
            <a href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>